# nRF52832 Lemon IoT BLE board configuration

# Copyright (c) 2023 Aaron Mohtar & Co Pty Ltd
# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_LEMON_IOT_BLE_NRF52832
	bool "Lemon IoT BLE nRF52832"
	depends on SOC_NRF52832_QFAA
